<header class="border-b-[1px] pb-2">
  <nav class="flex justify-between items-center p-4">
    <h1 class="text-white text-3xl font-bold">Logo</h1>
    <ul class="flex items-center gap-10">
      <li class="text-white hover:underline cursor-pointer" routerLink="/">Home</li>
      <li class="text-white hover:underline cursor-pointer" routerLink="/residence">Residence</li>
      <li class="text-white hover:underline cursor-pointer" routerLink="/about">About us</li>
      <li class="text-white hover:underline cursor-pointer" routerLink="/contact">Contact</li>
    </ul>
    <div class="space-x-2">
      <button class="text-lg font-semibold px-4 py-2 text-white rounded-md bg-green-500">Login</button
      ><button class="text-lg font-semibold px-4 py-2 text-white rounded-md bg-blue-500">
        Sign Up
      </button>
    </div>
  </nav>
</header>
